* {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, span {
    color: #242424;
    text-align: center;
    line-height: 1.25;
}

li {
    list-style-type: none;
}

p {
    line-height: 1.5;
    font-size: 16px;
}

.text--purple {
    color: #6415ff;
    margin: left;
}

.nav__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    max-width: 1200px;
}

.title__wrapper {
    display: flex;
    align-items: center;
}

.nav__links {
    margin: 0 12px;
    display: flex;
}

.nav__link {
    margin: 0 12px;
}

.logo {
    height: 48px;
    display: flex;
    justify-content: center;
}

.nav__link-primary {
    background-color: #6415ff;
    padding: 8px 20px;
    border-radius: 50px;color: white;
}

.landing {
    margin-top: 36px;
}

.landing__container {
    display: flex;
}

.landing__container>.left {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.landing__container>.right {
    height: auto;
    max-width: 48rem;
}

.email {
    background: #ffffff;
    padding: 20px 192px 20px 32px;
}

.button__1 {
    color: #f7fafc;
    background: #6415ff;
    margin: 8px 8px 8px 0px;
    padding: 16px 0px;
}

.customers {
    color: #a0aec0;
}

.companies {
    margin: 16px 0px 0px;
    padding: 0px 128px 0px 0px;
}

.subtitle__1 {
    font-size: 48px;
}

.subtitle__2 {
    display: flex;
}

/* Landing Page */

.feature__wrapper {
    display: flex;
}

.feature {
    padding: 0 24px;
    width: calc(100% / 3);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.feature__para {
    text-align: center;
}